# DESEC Details
DESEC_TOKEN=<DESEC_TOKEN>
DESEC_DOMAIN=<"DESEC_DOMAIN, DESEC_DOMAIN, ...">
IFS=","
EMAIL=<EMAIL>
# GITHUB Details
GITHUB_TOKEN=<GITHUB_TOKEN>
GITHUB_USER=<GITHUB_USER>
GITHUB_REPO=<GITHUB_REPO>
# Others
TZ=<TZ>
ZIP_PASS=<ZIP_PASS>